@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000; /* Fond noir */
    color: white; /* Texte blanc */
    font-family: "Syne", sans-serif;
    scroll-behavior: smooth;
}

.projets hr {
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
   text-align: center;
}
h2 {
    text-align: center;
}

h3 {
    color: #3498db;
}
/* Navbar styling */
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 40px;
    position: fixed;
    justify-content: center;
    background-color: #000;
    z-index: 1000; /* Cacher mon js derrière la navabr */
}

/* Style du logo */
.logo {
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    padding: 5px 10px;
    letter-spacing: 2px;
    margin-left: 70px;
}

/* Ligne verticale entre le logo et les liens */
.divider {
    height: 30px;
    width: 2px;
    background-color: white;
    margin: 0 150px;
}

/* Liens de navigation */
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    transition: color 0.3s;
    margin-right: 100px;
}

.nav-links li a:hover {
    color: #3498db; /* Couleur bleue au hover */
}

/* Navbar Burger (pour mobiles) */
.navbar-toggle {
    display: none; /* Masqué par défaut */
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* Présentation */
.presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.presentation-text h1 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 10px;
}

.presentation-text h2 {
    font-size: 24px;
    font-weight: 300;
}

/* Highlight for the name */
.highlight {
    color: #3498db; /* Texte bleu pour Julien Henry */
}

/* Bouton Continuer */
.btn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
}

.btn:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

/* Informations */
.informations {
    text-align: center;
    padding: 120px;
}

.informations-text-imag{
    display: flex;
}

.informations img {
    width: 20%;
    margin-left: 5%;
}

.informations .informations-text {
    display: flex;
}

.informations .informations-text h2 {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

/* Compétences */
.competence {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.competence-text {
    display: flex;
}

.competence hr {
    margin-left: 15px;
    margin-right: 15px;
}

.competence h4 {
    margin-bottom: 9px;
}

/* Projet */

.projets {
    padding: 120px;
}
.projets h3 {
    text-align: center;
}

/* Contact */
.contact {
    text-align: center;
}

/* Footer */
footer {
    margin-top: 5%;
    background-color: black; /* Couleur de fond */
    color: white; /* Couleur du texte */
    text-align: center;
    padding: 20px;
}
  
  footer a {
    color: white; /* Couleur blanche pour les liens */
    text-decoration: none; /* Pas de soulignement par défaut */
    font-size: 14px; /* Même taille que le texte */
  }
  
  footer a:hover {
    text-decoration: underline; /* Soulignement au survol */
  }
  
  footer p, footer a {
    margin: 5px; /* Espacement uniforme */
    display: inline; /* Empile le texte et les liens côte à côte */
  }
  
  footer p {
    margin: 0; /* Supprimer le margin supplémentaire sur le texte */
  }
  

/* Restaurant La Strada */
.restaurant-la-stada {
    text-align: center;
    display: flex;
    margin-right: 10%;
}

.restaurant-la-stada .text-restaurant-la-stada {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}

/* Gestion de stage */
.gestion-stage {
    text-align: center;
    display: flex;
    margin-left: 10%;
}

.gestion-stage .text-gestion-stage {
    margin-right: 10%;
    margin-left: 10%;
}

/* Breakout */
.breakout {
    text-align: center;
    display: flex;
    margin-left: 10%;
}

.breakout img {
    width: 40%;
}

.breakout .text-breakout {
    margin-right: 10%;
    margin-left: 10%;
}

/* Hackademi */

.hackademi {
    text-align: center;
    display: flex;
    margin-left: 10%;
}


.hackademi .text-hackademi {
    margin-right: 10%;
    margin-left: 10%;
}



/* Mentions Légales */
#mentions-legales {
    background-color: #000000; /* Fond légèrement différent */
    color: white;
    padding: 50px 10%;
    text-align: center;
    line-height: 1.8;
}

#mentions-legales .mentions-content {
    max-width: 80%; /* Limiter la largeur à 80% de l'écran */
    margin: 0 auto; /* Centrer horizontalement */
}

#mentions-legales h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff; /* Couleur bleue pour le titre */
}

#mentions-legales h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}

#mentions-legales p {
    margin: 10px 0;
    text-align: justify; /* Justification du texte pour une meilleure lecture */
}

#mentions-legales a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

#mentions-legales a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* Mentions Légales */
#plan-site {
    background-color: #000000; /* Fond légèrement différent */
    color: white;
    padding: 110px;
    text-align: center;
    line-height: 1.8;
}

#plan-site .plans-content {
    max-width: 80%; /* Limiter la largeur à 80% de l'écran */
    margin: 0 auto; /* Centrer horizontalement */
}

#plan-site h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffffff; /* Couleur bleue pour le titre */
}

#plan-site h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}


#plan-site a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

#plan-site a:hover {
    color: #ffffff;
    text-decoration: underline;
}







/* MEDIA QUERIES */

/* Pour les tablettes */
@media (max-width: 768px) {
    /* Bouton burger visible */
    .navbar-toggle {
        display: block;
    }

    .logo {
        margin-left: 0;
    }

    .navbar {
        padding: 20px;
        justify-content: space-between;
    }

    .nav-links {
        display: none; /* Masquer par défaut */
        position: absolute;
        top: 60px;
        right: 0;
        background-color: black; /* Fond noir */
        width: 100%;
        flex-direction: column;
        padding: 10px 0;
    }

    .nav-links li {
        text-align: center;
        margin: 5px 0;
    }

    .nav-links li a {
        color: white;
        font-size: 18px;
        padding: 10px;
        margin-right: 0;
    }

    .nav-links.mobile-active {
        display: flex; /* Montrer les liens */
        align-items: center;
        text-align: center;
    }

    /* Montrer le séparateur vertical */
    .divider {
        display: none;
    }

    .presentation-text h1 {
        font-size: 36px;
    }

    .presentation-text h2 {
        font-size: 20px;
    }

    .informations img {
        width: 30%;
        margin-left: 0;
        height: auto;
    }

    .restaurant-la-stada, .gestion-stage, .breakout {
        flex-direction: column;
    }

    .restaurant-la-stada img, .gestion-stage img, .breakout img {
        width: 60%;
        margin: 0 auto;
    }
}

/* Pour les téléphones */
@media (max-width: 480px) {
    .navbar {
        padding: 10px;
    }

    .logo {
        font-size: 16px;
    }

    .nav-links {
        gap: 10px;
    }

    .presentation-text h1 {
        font-size: 28px;
    }

    .presentation-text h2 {
        font-size: 18px;
    }

    .informations {
        padding: 60px;
    }

    .informations img {
        width: 80%;
        margin-left: 0;
        height: auto;
    }

    .restaurant-la-stada img, .gestion-stage img, .breakout img {
        width: 80%;
    }

    .competence-text {
        flex-direction: column;
    }

    .gestion-stage, .restaurant-la-stada, .breakout {
        margin-left: 0;
    }
}


